.pokemon-list {
    padding: 1rem;
}

.pokemon-list__wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card-link {
    width: calc(33.3% - 0.66rem);
    text-decoration: none;
    color: #000;
}

@media (max-width: 800px) {
    .card-link {
        width: calc(50% - .5rem);
    }
}

@media (max-width: 480px) {
    .card-link {
        width: 100%;
    }
}
